* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #e31870fa;
}
body {
  font-family: Arial, sans-serif;
  background-color: #97c6f0ab;
  font-size: 2rem;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #301af9;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 2rem;
}

h2 {
  color: #0073e6;
}

.waterman {
  display: flex;
  padding: 10px;
  gap: 2rem;
}

.unos {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 2rem;
}

.nkf {
  color: rgb(234, 107, 61);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  display: block;
  margin: 10px auto;
}

footer {
  text-align: center;
  background: #ffcc00;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .waterman {
    flex-direction: column;
  }
}
